%section.w-full.min-h-screen
  .bg-sky-600.py-20.relative
    %h2.text-4xl.text-center.font-bold My Projects
    %div{class: 'grid grid-cols-5 gap-2 h-2 w-full absolute bottom-0 left-0'}
      %div{class: 'bg-orange-custom h-2 col-span-1'}
      %div{class: 'bg-orange-lighter h-2 col-span-3'}
      %div{class: 'bg-blue-custom h-2 col-span-1'}
  %div{class: 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-24 p-10'}
    - 10.times do
      = render partial: 'project', collection: @projects

