
.flex.flex-col.gap-5.bg-white.relative.p-5.project-cards-border{class: 'shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]'}
  %h2.text-xl.font-bold= project.title
  %p.text-gray-500= project.body.to_plain_text.truncate(100)
  .py-5
    = image_tag project.images.first, class: 'w-full h-48 object-cover'
  
  = link_to 'Learn more', project, class: 'bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded text-center'
  